<html>
<head>
	{control adminJs}
</head>

<body>
</body>


<script type="text/javascript">
	$(function () {
		$('body').load({link :Front:TextPage:Default: pageId => $presenter->pageId, venneCmsEditation => true}, function () {
			$('html').append('<script src="{path @venne.cms/vendor/ckeditor/ckeditor.js}"><\/script>');
			CKEDITOR.plugins.add( 'simplebox', {
				requires: 'widget',
				icons: 'simplebox',
				init: function( editor ) {
					editor.widgets.add( 'simplebox', {
						button: 'Create a simple box',
						template:
						'<div class="venne-cms-content">content' +
						'</div>',
						editables: {
							content: {
								selector: '#content-1'
							}
						},
						allowedContent: 'div(!content);',
						requiredContent: 'div(content)',
						upcast: function( element ) {
							return element.hasClass( 'content' );
						}
					} );
				}
			});

			CKEDITOR.on('instanceCreated', function (event) {
				var editor = event.editor;
				var element = editor.element;

				//if ( element.is( 'h1', 'h2', 'h3' ) || element.getAttribute( 'id' ) == 'taglist' ) {
				editor.on('configLoaded', function () {

					editor.config.extraPlugins = 'simplebox';

//					editor.config.toolbarGroups = [
//						{ name: 'editing', groups: ['basicstyles', 'links']},
//						{ name: 'undo'},
//						{ name: 'clipboard', groups: ['selection', 'clipboard']},
//						{ name: 'about'}
//					];
				});
				//}
			});
		});
	});
</script>
</html>
